body {
    background-image: url(../images/background.jpeg);
    background-size: 50%;
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Lobster Two', cursive;
}

h2 {
    color: dodgerblue;
    font-style: oblique;
    font-size: 18pt;
}

.jumbotron {
    background-color: aliceblue;
    margin-top: 20px;
    border: 1px solid darkblue;
    color: midnightblue;
}

.panel {
    background: white;
}